.bg-purple {
  background-color: #1a0045;
}

.text-color {
  color: #fa531f;
}

h1 {
  font-size: 4rem;
  font-family: "Monoton", cursive;
  color: #fa531f;
}

#modalMessage {
  font-family: "Monoton", cursive;
  color: #fa531f;
  text-align: center;
}

.bg-btn {
  background-color: #7209c7;
}

.rounded-custom {
  border-radius: 1.5rem;
}

input {
  background-color: transparent;
  border-bottom: 2px solid white;
  border-left: 0;
  border-right: 0;
  color: white;
}

input::placeholder {
  color: white !important;
}

.btn {
  cursor: pointer;
  background: #7209c8;
  background: linear-gradient(270deg, #7209c8 62%, #1b0047 100%);
  background: -moz-linear-gradient(270deg, #7209c8 62%, #1b0047 100%);
  background: -webkit-linear-gradient(270deg, #7209c8 62%, #1b0047 100%);
}

.btn:hover {
  background-color: #7209c8;
}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#main {
  background-image: url("/images/bg-purple.png");
  background-size: 100% 100%;
  background-repeat: no-repeat, repeat;
  min-height: 100vh;
  background-size: cover;
}

.modal fade {
  background-color: #fa531f;
}

@media screen and (max-width: 640px) {
  .eclipse-1 {
    width: 100%;
  }
}
font-b7 {
  font-size: 0.7rem;
}

.font-b9 {
  font-size: 0.9rem;
}

.font-xs {
  font-size: 1rem;
}

.font-s {
  font-size: 1.1rem;
}

.font-sm {
  font-size: 1.2rem;
}

.font-smx {
  font-size: 1.3rem;
}

.font-smd {
  font-size: 1.5rem;
}

.font-lgsm {
  font-size: 1.6rem;
}

.font-md {
  font-size: 1.8rem;
}

.font-mmd {
  font-size: 2.1rem;
}

.font-lmd {
  font-size: 2.4rem;
}

.font-xlmd {
  font-size: 2.8rem;
}

.font-xxlmd {
  font-size: 3.2rem;
}

.font-slg {
  font-size: 3.6rem;
}

.font-smlg {
  font-size: 3.8rem;
}

.font-mlg {
  font-size: 4rem;
}

.font-llg {
  font-size: 4.6rem;
}

.font-lg {
  font-size: 6rem;
}

.font-xlg {
  font-size: 7.2rem;
}

.size-150 {
  width: 150px;
}

.mx-lg-7 {
  margin-left: 7rem !important;
  margin-right: 7rem !important;
}

@media screen and (max-width: 1181px) {
  .font-md {
    font-size: 1.7rem;
  }

  .font-mmd {
    font-size: 2rem;
  }

  .font-lmd {
    font-size: 2.3rem;
  }

  .font-xlmd {
    font-size: 2.6rem;
  }

  .font-xxlmd {
    font-size: 2.9rem;
  }

  .font-slg {
    font-size: 3.2rem;
  }

  .font-smlg {
    font-size: 3.5rem;
  }

  .font-mlg {
    font-size: 3.6rem;
  }

  .font-llg {
    font-size: 4.4rem;
  }

  .font-lg {
    font-size: 5.4rem;
  }

  .font-xlg {
    font-size: 6.6rem;
  }
}
@media screen and (max-width: 1024px) {
  .font-slg {
    font-size: 3rem;
  }

  .font-smlg {
    font-size: 3.2rem;
  }

  .font-mlg {
    font-size: 3.3rem;
  }

  .font-llg {
    font-size: 4rem;
  }

  .font-lg {
    font-size: 5rem;
  }

  .font-xlg {
    font-size: 6rem;
  }
}
@media screen and (max-width: 768px) {
  .font-xlg {
    font-size: 5.6rem;
  }
}
@media screen and (max-width: 640px) {
  .font-xs {
    font-size: 0.9rem;
  }

  .font-sm {
    font-size: 1.1rem;
  }

  .font-smx {
    font-size: 1rem;
  }

  .font-smd {
    font-size: 1.1rem;
  }

  .font-lgsm {
    font-size: 1.3rem;
  }

  .font-slg {
    font-size: 2.8rem;
  }

  .font-smlg {
    font-size: 2.9rem;
  }

  .font-mlg {
    font-size: 3rem;
  }

  .font-llg {
    font-size: 3.5rem;
  }

  .font-lg {
    font-size: 4.4rem;
  }

  .font-xlg {
    font-size: 5.4rem;
  }

  .font-md {
    font-size: 1.1rem;
  }

  .font-mmd {
    font-size: 1.7rem;
  }

  .font-lmd {
    font-size: 2rem;
  }

  .font-xlmd {
    font-size: 1.8rem;
  }

  .font-xxlmd {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
